.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-navigation__list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.logo {
  padding: 1rem;
  font-family: var(--logo-font);
  font-size: 16px;
  text-decoration: none;
}

.main-navigation__item {
  padding: 1rem;
  font-size: 16px;
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--link-color);
}

/*
   Links
*/

.logo:visited {
  color: var(--link-color);
}

.logo:hover {
  color: var(--link-hover);
}

.main-navigation__item:visited {
  color: var(--link-color);
}

.main-navigation__item:hover {
  color: var(--link-hover);
}
