.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-navigation__list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding-right: 4rem;
}

.main-navigation__list li {
  display: flex;
  justify-content: center;
}

.logo {
  padding: 1rem;
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  font-size: 32px;
  text-decoration: none;
  margin-left: 4rem;
  transition: all 1s ease;
  text-shadow: var(--txt-shadow);
}

.main-navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.4s ease;
  text-shadow: var(--txt-shadow);
  font-size: large;
}

/*
   Links
*/

.logo:visited {
  color: var(--link-color);
}

.logo:hover {
  color: var(--link-hover);
}

.main-navigation__item:visited {
  color: var(--link-color);
}

.main-navigation__item:hover {
  color: var(--link-hover);
}

@media (width < 768px) {
  .logo {
    margin: 0rem;
  }

  .main-navigation {
    padding-top: 1rem;
    flex-direction: column;
  }

  .main-navigation__item {
    margin: 0;
  }

  .main-navigation__list {
    padding: 0;
  }
}
