.about-heading {
  color: var(--main-color);
  letter-spacing: var(--letter-spacing);
  text-align: center;
  font-weight: calc(var(--font-weight) * 0.5);
  font-size: 36px;
}

.about-section {
  display: grid;
  justify-content: center;
}

.about-article {
  margin: 1rem;
  max-width: 60rem;
}

/*
     Resolutions
*/

@media (width < 768px) {
  .about-heading {
    padding: 0;
    font-size: 24px;
    margin: 0;
  }

  .about-section {
    margin: 1rem;
  }
}
