.home-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.introduction-section {
  border: 1px;
  border-radius: 18px;
  padding: 2rem;
  font-family: var(--main-font);
  letter-spacing: var(--letter-spacing);
  margin: 10rem;
  /*background-color: var(--secondary-background-color);*/
}

/*
    Text and icons
*/

.heading {
  margin: 0;
  font-weight: var(--font-weight);
  color: var(--main-color);
  font-size: 88px;
  font-weight: calc(var(--font-weight) * 0.5);
}

.article__heading {
  font-weight: calc(var(--font-weight) * 0.8);
  text-decoration-thickness: 1px;
}

.social-media-icons {
  margin-bottom: 1rem;
  margin: 2rem;
  text-align: center;
}

/*
    Resolutions
*/

@media (width < 768px) {
  .heading {
    font-size: 44px;
  }

  .introduction-section {
    padding: 1rem;
  }

  .social-media-icons {
    margin: 1rem;
  }
}

@media (width < 1200px) {
  .home-main {
    justify-content: flex-start;
  }

  .introduction-section {
    margin: 1rem;
  }
}
