:root {
  /*
      Main colors
  */

  --main-color: #8F6CD9;
  --txt-color: #f6f5fb;

  --background-gradient-image: linear-gradient(
    to bottom right,
    #150140,
    #340773
  );
  --background-color:#0D0126;

  /*
      Link color
  */
  --link-color: var(--main-color);
  --link-hover: #f6f5fb;

  /*
      Fonts
  */
  --main-font: "Work Sans", sans-serif;
  --font-weight: 400;
  --letter-spacing: 2px;

  /*
      Shadows
  */

  --base-shadow: 0px 4px 16px 0px rgba(112, 14, 116, 0.175);
  --txt-shadow: 2px 2px 3px rgba(112, 14, 116, 0.175);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--txt-color);
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
