:root {
  /*
      Main colors
  */

  --main-color: #48e1fc;

  --background-color: #595959;

  /*
      Link color
  */
  --link-color: var(--main-color);
  --link-hover: #3ab1c6;

  /*
      Fonts
  */
  --main-font: "Work Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
